/* GRID Container */
main {
  display: grid;
  grid-template-areas:
    "topbar topbar topbar"
    "ads content sidebar"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px auto 70px;
  gap: 0 50px;
  justify-items: center;
}

/* GRID Items */
header {
  grid-area: topbar;
}

aside {
  grid-area: ads;
}

article {
  grid-area: content;
}

nav {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}
